[submodule "VerticalSlider"]
	path = VerticalSlider
	url = https://github.com/loupeteam/uiToolVerticalSlider.git
	branch = master
[submodule "DropDown"]
	path = DropDown
	url = https://github.com/loupeteam/uiToolDropDown.git
	branch = master
[submodule "RobotView"]
	path = RobotView
	url = https://github.com/loupeteam/uiToolRobotView.git
	branch = master
[submodule "Configure"]
	path = Configure
	url = https://github.com/loupeteam/uiToolConfigure.git
